* {
    padding: 0;
    margin: 0;
}

A {
    text-decoration: none;
    color: rgb(39, 38, 38);
}

#main_navbar {
    position: sticky;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 69px;
    width: 100%;

}

#nav_logo {
    display: inline-block;
    flex-direction: row;
    width: 135px;
    height: 50px;
    background-image: url("Project_images/Titan-Logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 22px;
    margin-top: 23px;
}

#nav_search_bar_div {
    display: inline-block;
    width: 300px;
    height: 39px;
    padding-left: 15px;
    padding-bottom: 15px;
    position: relative;
    bottom: 25px;
    left: 400px;
    border-radius: 150px;
    border-width: 2px;
    border-color: black;
    border-style: solid;

}


#Search_bar {
    display: inline-block;
    width: 200px;
    height: 40px;
    border-style: none;
    font-size: medium;
    outline: none;
}



#search_bar_icon {

    display: inline-block;
    position: relative;
    top: 10px;
    left: 47px;
    width: 35px;
    height: 35px;
    background-image: url("Project_images/search_FILL0_wght400_GRAD0_opsz24.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#nav_option {

    display: inline-block;
    width: 30%;
}

.nav_op1 {
    display: inline-block;
    position: relative;
    bottom: 30px;
    margin-left: 25px;
    font-size: 20px;
    opacity: 65%;

    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-delay: 0.1s;
    transition-duration: 0.151s;
}

.nav_op1:hover {
    color: #0492c2;
    border-bottom-width: 2px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: #000000;
    border-style: solid;
}


#nav_icons {

    display: inline-block;
    position: absolute;
    right: 0;
    top: 22px;
    width: 200px;
    /* margin-left: 55px; */
}

#nav_profile {

    background-image: url("Project_images/person_FILL0_wght400_GRAD0_opsz24.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    position: relative;

    left: 55px;
    /* right: 15px; */
    width: 35px;
    height: 35px;

}

#nav_like {

    background-image: url("Project_images/favorite_FILL0_wght400_GRAD0_opsz24.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    position: relative;
    left: 65px;
    width: 35px;
    height: 35px;

}

#nav_cart {

    background-image: url("Project_images/local_mall_FILL0_wght400_GRAD0_opsz24.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    position: relative;

    left: 75px;
    width: 35px;
    height: 35px;
}

#main_slider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
}

#left_slider_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 600px;
}


#right_slider_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 600px;
}

#slider_box {
    width: 80%;
    height: 600px;
    background-image: url("Project_images/img1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;

    transition-property: all;
    transition-duration: 0.351s;
    transition-timing-function: ease;
}

#slider_btn1 {
    background-color: gold;
}

#left_btn {
    width: 25px;
    height: 25px;
    background-image: url("Project_images/arrow_back_ios_new_FILL0_wght400_GRAD0_opsz24.png");
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-size: 22.8px;

    border-style: solid;
    border-color: rgb(11, 11, 11);
    border-radius: 10px;
}

#left_btn:hover {
    cursor: pointer;
}

#right_btn {
    width: 25px;
    height: 25px;
    background-image: url("Project_images/arrow_forward_ios_FILL0_wght400_GRAD0_opsz24.png");
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-size: 22.8px;

    border-style: solid;
    border-color: rgb(11, 11, 11);
    border-radius: 10px;
}

#right_btn:hover {
    cursor: pointer;
}

#slider_rounds {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.slider_btn {
    /* background-color: aqua; */
    margin-top: 10px;
    margin-left: 10px;
    width: 8px;
    height: 8px;
    border-style: solid;
    border-color: black;
    border-radius: 100%;
}

.spotlight {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 55px;
}

#sl_left {
    display: flex;
    width: 144px;
    height: auto;
    align-items: center;
    text-align: right;
}

#sl_right {
    display: flex;
    width: 144px;
    height: auto;
    align-items: center;
    text-align: left;
}


#sl_text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    font-size: 35px;
    font-family: 'Young Serif', serif;
    opacity: 80%;
}

.spotlight_main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 490px;
    /* background-color: red; */
    overflow-x: scroll;
}


.sp_box {
    height: auto;
    min-width: 350px;
    margin-right: 15px;
    margin-left: 10px;
    /* background-color: gray; */

    display: flex;
    flex-direction: column;
}

.sl_bg {
    width: auto;
    height: 350px;
    background-color: rgb(241, 239, 239);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.sl_pbox {
    width: auto;
    height: 140px;

    display: flex;
    flex-direction: column;
}

.sl_cn {
    width: auto;
    height: 30%;
    /* background-color: gold; */
    padding-left: 8px;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 18px;
}

.sl_pn {
    width: auto;
    height: 40%;
    /* background-color: silver; */
    /* display: flex;
    align-items: center; */
    padding-left: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;

}

.sl_pr {
    display: flex;
    align-items: center;
    width: auto;
    height: 25%;
    /* background-color:burlywood; */
    padding-left: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 18px;
}

.sbb_text {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#sbb_left {
    display: flex;
    width: 144px;
    height: auto;
    align-items: center;
    text-align: right;
}


#sbb_text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    font-size: 35px;
    font-family: 'Young Serif', serif;
    opacity: 80%;
}

#sbb_right {
    display: flex;
    width: 144px;
    height: auto;
    align-items: center;
    text-align: left;
}

.sbb_box1 {
    width: 100%;
    height: 340px;
    display: flex;
    flex-direction: row;
    /* background-color: bisque; */
}

.sbb_box_child {
    height: auto;
    overflow: auto;
    width: 270px;
    margin-left: 30px;
    /* background-color: cadetblue; */
    display: flex;
    flex-direction: column;
}

.sbb_img {
    width: auto;
    height: 77%;
    /* background-color:rebeccapurple; */

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sbb_bn {
    width: auto;
    height: 23%;
    background-color: #121212;
    color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

#oc {
    width: 100%;
    height: 332px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.oc_box {
    min-width: 435px;
    height: 290px;
    margin-right: 24px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

.oc_img {
    z-index: 0;
    width: 354px;
    height: 242px;
    border-radius: 9px;
}

.oc_id {
    width: 230px;
    height: 115px;
    z-index: 1;
    background-color: #212121;
    margin-top: -68px;
    margin-left: 205px;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.oc_id_text {
    width: 80px;
    height: 50px;
    color: white;
    padding-top: 12px;
    padding-left: 12px;

}

.oc_id_icon {
    align-self: flex-start;
    margin-top: 13px;
    margin-left: 80px;
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 25px;
    font-size: 900;
}

.oc_text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#oc_left {
    display: flex;
    flex-direction: row;
    width: 144px;
    height: auto;
    align-items: center;
    text-align: right;
}


#oc_text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 330px;
    font-size: 35px;
    font-family: 'Young Serif', serif;
    opacity: 80%;
}

#oc_right {
    display: flex;
    width: 144px;
    height: auto;
    align-items: center;
    text-align: left;
}

#offer_main {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.offer_box {
    min-width: 354px;
    height: 243px;
    margin-left: 20px;
    margin-right: 15px;
    background-color: #9a9a9a;
    border-radius: 10px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.offer_text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#offer_left {
    display: flex;
    flex-direction: row;
    width: 144px;
    height: auto;
    align-items: center;
    text-align: right;
}


#offer_text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 430px;
    font-size: 35px;
    font-family: 'Young Serif', serif;
    opacity: 80%;
}

#offer_right {
    display: flex;
    width: 144px;
    height: auto;
    align-items: center;
    text-align: left;
}

#watch_journal {
    width: 100%;
    height: 478px;
    background-image: url('Project_images/n8s8lr6s.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 96%;
}

#wj_main {
    width: 82%;
    height: 360px;
    /* background-color: #9a9a9a; */
    margin-left: 130px;
    position: relative;
    top: 70px;
    display: flex;
    flex-direction: column;
}

#wj_dsc {
    width: auto;
    height: 20%;
    /* background-color: aqua; */
}

#wj_det {
    height: 80%;
    width: auto;
    display: flex;
    flex-direction: row;
    /* background-color: bisque; */
    margin-top: 40px;
    justify-content: space-between;
    align-items: center;
}

.wj_det_box {
    width: 370px;
    height: 250px;
    background-color: white;
    margin-right: 15px;
    margin-left: 15px;
    /* border-radius: 15px; */
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    flex-direction: column;
}

.wj_dsc_temp1 {
    font-size: 35px;
    font-weight: 900;
    color: white;
}

.wj_dsc_temp2 {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(189, 189, 189);
    text-decoration: underline;

}

.wj_box_name {
    height: 35px;
    width: 270px;
    /* background-color: aqua;x */
    color: rgb(255, 136, 0);
    margin-top: 45px;
    margin-left: 35px;
    font-size: 17px;
}

.wj_box_det {
    height: 95px;
    width: 180px;
    margin-left: 35px;
    /* margin-top: 15px; */
    font-size: 28px;

}

.wj_box_readme {
    width: 170px;
    height: 30px;
    margin-left: 35px;
    margin-top: 39px;
    color: rgb(178, 178, 178);
    font-size: small;
    text-decoration: underline;
}

.lowest_part {
    display: flex;
    width: 100%;
    height: 90px;
    color: white;
    /* background-color: #212121; */
    background-color: black;
    align-items: center;
    justify-content: center;
    font-size: small;
}

.footer_main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 385px;
    color: white;
    /* background-color: #212121; */
    background-color: black;
    margin-bottom: 1px;
    justify-content: space-evenly;
}

.footer_box{
    width: 200px;
    height: 300px;
    /* background-color: gray; */
    margin-top: 45px;
    display: flex;
    flex-direction: column;
}

.footer_title{
    width: 100%;
    height: 20%;
    /* background-color: #0492c2; */
    font-size: 25px;
    text-decoration: underline;

}

.footer_content{
    font-size: medium;
    color: #9a9a9a;
}

#footer_box{
    width: 280px;
    height: 300px;
    /* background-color: gray; */
    margin-top: 45px;
    display: flex;
    flex-direction: column;
}

.footer_title_temp{
    width: 100%;
    height: 20%;
    /* background-color: #0492c2; */
    font-size: 25px;
    text-decoration: underline;
}

.footer_content_temp{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
}

.footer_symbolls{
    width: 45px;
    height:45px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    /* background-color: gold; */
    position: relative;
    /* right: 10px; */
    display: inline-block;
    margin-right: 15px;
    /* margin-le: 5px; */
}

#upper_footer{
    width: 100%;
    height: 120px;
    margin-bottom: 1px;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.uf_box{
    width: 300px;
    height: 70px;
    /* background-color:#0492c2 ; */
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    align-items: center;

}

.uf_icon{
    width:  40px;
    height: 40px;
    background-color: bisque;
    margin-right: 15px;
    margin-left: 15px;
}

.uf_text{
    width: 200px;
    height: 25px;
    font-size: 19px;
    color: white;
}