

/* #navbar{
    background-color: rgb(37, 37, 37);
    width: 100%;
    top:0;
    height: 45px;
    position: sticky ;
} */
#navbar{
    background-color: rgb(37, 37, 37);
    width: 100%;
    top:0;
    height: 45px;
    position: sticky ;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#logo{
    color: orange  ;
    padding-left: 10px;
    font-size: 25px;
}

a{
    font-size: large;
    color: white;
    margin-right: 230px;
    margin-top: 6px;
}

#search_bar{
    height: 25px;
    margin-top: 6px;
}

#button_search{
    height: 30px;
    margin-top: 6px;
    background-color: orange;
    border-radius: 15%;
}

#content1{
    width: 25%;
    height: 1120px;
    background-color: violet;
    display: inline-block;
}
#content2{
    width: 49%;
    height: 1120px;
    display: inline-block;
    border: "1";
    border-style: solid;
    border-top: 0px;
    border-bottom: 0px;
    background-image: url("daylight-forest-glossy-443446.jpg");
    background-size:cover;
    text-align: center;
    color: blueviolet;
}
#content3{
    width: 25%;
    height: 1120px;
    background-color:burlywood;
    display: inline-block;
}

#footer{
    background-color: rgb(37, 37, 37);
    width: 100%;
    height: 80px;
}

#sol{
    width: 100%;
    padding-left: 700px;
    font-weight: 900;
    font-size: xx-large;    
    color: orange;
}

#fb{
    display: inline;
    margin-left: 612px;
    margin-right:0px;
    text-decoration: none;
}

#ig{    
    margin-left: 25px;
    margin-right:0px;
    text-decoration: none;
}

#lin{
    margin-left: 25px;
    margin-right:0px;
    text-decoration: none;

}